*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 20px;
  background-color: #363636;
  color: white;
}


.calculator{
  width: 80%;
  max-width: 500px;
  margin: auto;
  position: relative;
  top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5%;
  border: 3px solid white;
  box-shadow: 5px 5px 5px 5px #241571;  
  background-color: black;
  
}

h1{
  text-align: center;
  font-family: sans-serif;
  padding-top: 0px;
  text-shadow: 1px 1px 0.2px white;
  
}

.wera {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Set the height of the container to fill the viewport */
}

input{
  width: 50%;
  margin: auto;
  line-height: 20px;
  border: 1px solid blue;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  text-align: center;
  background-color: black;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.row{
  width: 40%;
  margin: auto;
  border: 1px solid red;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  
}

button{
  background-color: blue;
}